.Footer{
   margin-top: 4em; 
}

.Footer .container{
    display: flex;
    align-items: top;
    justify-content: space-between;
    gap: 4em;

    padding: 3em 2em;
    padding-bottom: 3em;
    border-top: 1px solid var(--cor-principal);
}

.Footer .container .logo{
    width: 50%;
}

.Footer .container .logo h2{
    margin-bottom: 0.7em;
}

.Footer .container .logo h2 span{
    color: var(--cor-principal);
}

.Footer .footerLinks{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 3em;
}

.Footer .contentStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.Footer .contentStyle h3{
    margin-bottom: 0.3em;
}

.Footer .contentStyle a{
    font-size: 0.8em;
    font-weight: 700;
    color: gray;
    text-transform: uppercase;
}

.Footer .contentStyle a:hover{
    color: var(--cor-principal);
}

@media screen and (max-width: 800px) {
    .Footer .container{
        flex-direction: column;
    }

    .Footer .container .logo{
        width: 100%;
    }

    .Footer .footerLinks{
        width: 100%;
        justify-content: center;
    }
}